[submodule "vim/bundle/nerdcommenter"]
  path = vim/bundle/nerdcommenter
  url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
  path = vim/bundle/nerdtree
  url = http://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/snipmate"]
  path = vim/bundle/snipmate.vim
  url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-rails"]
  path = vim/bundle/vim-rails
  url = http://github.com/tpope/vim-rails.git  
[submodule "vim/bundle/vim-surround"]
  path = vim/bundle/vim-surround
  url = http://github.com/tpope/vim-surround.git  
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
